/* container principal do cabeçalho, tudo que esta dentro dessa classe, vai obedecer */
.container-header{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: linear-gradient(to right, rgb(247, 87, 47), rgb(231, 158, 22));
}

.logo-principal{
    display: flex;
    align-items: center;
    gap: 10px;

}

